.root {
    -fx-background-color: #383838;
}

#refreshBtn {
    -fx-background-color: #86C1B9;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 6;
    -fx-font-size: 18;
}

#gameListView {
    -fx-background-color: #383838;
}
